.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    opacity: 1;
    box-shadow: 0px 2px 4px $primary-shadow;
    animation: fadeInDown 0.4s linear forwards;
    transition: .4s;
    z-index: 1000;

    .header-title {
        @include lg-content;
        font-weight: extra-bold-weight;
    }
}