// Colors
$theme-dark: hsl(207, 26%, 17%);
$theme-light: hsl(0, 0%, 98%);

$copy: hsl(200, 15%, 8%);
$elements: hsl(209, 23%, 22%);
$input: hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);

$primary-shadow: rgba(0, 0, 0, 0.0562443);

// Fonts
$primary-font: 'Nunito Sans', sans-serif;
$light-weight: 300;
$semi-bold-weight: 600;
$extra-bold-weight: 800;
