.countries-section {

    .countries-list {
        display: grid;
        grid-template-columns: repeat(4, minmax(264px, 264px));
        gap: 7.4rem;

        .card {
            box-shadow: 0px 0px 7px 2px $primary-shadow;
            border-radius: 0.5rem;
            transition: .4s;
            animation: backInUp .4s linear forwards;

            .card-image-wrapper {
                max-height: 16rem;
                height: 100%;

                img {
                    max-width: 26.4rem;
                    width: 100%;
                    height: 16rem;
                    object-fit: cover;
                    border-radius: 0.5rem 0.5rem 0 0;
                }
            }

            .card-details-wrapper {
                padding: 2.4rem;

                .card-name {
                    @include md-content;
                    font-weight: $extra-bold-weight;
                    padding-bottom: 1.6rem;
                }

                .card-details {
                    padding-bottom: 2.4rem;

                    p {
                        @include sm-content;
                        font-weight: $light-weight;

                        span {
                            font-weight: $semi-bold-weight;
                        }

                        &:not(:last-child) {
                            padding-bottom: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}