.home-wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 4rem auto;
    text-align: center;
    animation: fadeIn .4s linear forwards;

    .home-title {
        @include lg-content;
        margin-bottom: 2rem;
    }

    .home-description {
        @include md-content;
        margin-bottom: 2rem;
    }
}