// Light Theme Colors
.theme-light {
    transition: .4s;
    background-color: $theme-light;

    // pages
    .home-wrapper {

        & > * {
            color: $copy;
        }
    }

    .unknown-wrapper {

        & > * {
            color: $copy;
        }
    }

    // components
    .header {
        background-color: $white;

        & > * {
            color: $copy
        }
    }

    .filters-section {

        .search-form {
        
            .search-input {
                background-color: $white;

                &::placeholder {
                    color: $copy;
                }

                &[type='text'] {
                    color: $copy;
                }
            }

            ion-icon {
                color: $copy;
            }
        }

        .dropdown-filter-wrapper {

            .dropdown-trigger {
                background-color: $white;
                color: $copy;

                ion-icon {
                    color: $copy;
                }
            }

            .dropdown-list {
                background-color: $white;
                
                .dropdown-item > button {
                    color: $copy;
                }
            }
        }
    }

    // buttons
    .toggler-icons-wrapper {
        background-color: $theme-dark;

        ion-icon {
            color: $white;
        }
    }

    // links
    .link {
        background-color: $theme-dark;
        color: $white;
    }
}

// Dark Theme Colors
.theme-dark {
    transition: .4s;
    background-color: $theme-dark;

    // pages
    .home-wrapper {

        & > * {
            color: $white;
        }
    }

    .unknown-wrapper {

        & > * {
            color: $white;
        }
    }
    


    // components
    .header {
        background-color: $elements;

        & > * {
            color: $white;
        }
    }

    .filters-section {
        
        .search-form {

            .search-input {
                background-color: $elements;

                &::placeholder {
                    color: $white;
                }
                
                &[type='text'] {
                    color: $white;
                }
            }

            ion-icon {
                color: $white;
            }
        }

        .dropdown-filter-wrapper {

            .dropdown-trigger {
                background-color: $elements;
                color: $white;

                ion-icon {
                    color: $white;
                }
            }

            .dropdown-list {
                background-color: $elements;
                
                .dropdown-item > button {
                    color: $white;
                }
            }
        }
    }

    // buttons
    .toggler-icons-wrapper {
        background-color: $theme-light;

        ion-icon {
            color: $theme-dark;
        }
    }

    // links
    .link {
        background-color: $theme-light;
        color: $copy;
    }
}