@import './utils/variables';
@import './utils/mixins';

@import './base/reset';
@import './base/global';

@import './components/buttons';
@import './components/links';
@import './components/filters';
@import './components/container';
@import './components/header';

@import './pages/home';
@import './pages/page404';

@import './theme/theme';